@media (min-width: 1280px) {
    body {
        margin-right: 250px;
    }
}

@media (max-width: 1280px) {
    body {
        margin-top: 50px;
    }
}
@media (max-width: 600px) {
    body {
        margin-top: 0px
    }
}
.container {
    padding: 25px 0 25px 0;
}
